// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$customPrimary: (
  50: #fefee7,
  100:#fbfbc2,
  200: #f8f899,
  300: #f9f971,
  400: #f5f54c,
  500: #f2f025,
  600: #f8e223,
  700: #f8c913,
  800: #f8b100,
  900: #f88700,

  contrast: (
    50: #e1f2f8,
    100: #b3d8ed,
    200: #81bddf,
    300: #4fa2d1,
    400: #2690c9,
    500: #007ebe,
    600: #0077b7,
    700: #006cae,
    800: #0062a4,
    900: #004d8c,
  )
);

$costumAccent : (
  50: #fefae4,
  100: #fdf0bb,
  200: #fde790,
  300: #fddf65,
  400: #fdd549,
  500: #fece39,
  600: #fdc032,
  700: #fdae2c,
  800: #fc9e27,
  900: #fc811c,

  contrast: (
    50: #e1f2f8,
    100: #b3d8ed,
    200: #81bddf,
    300: #4fa2d1,
    400: #2690c9,
    500: #007ebe,
    600: #0077b7,
    700: #006cae,
    800: #0062a4,
    900: #004d8c,
  )
);

$learn-economics-primary: mat.define-palette($customPrimary);
$learn-economics-accent: mat.define-palette($costumAccent);

// The warn palette is optional (defaults to red).
$learn-economics-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$learn-economics-theme: mat.define-light-theme((
  color: (
    primary: $learn-economics-primary,
    accent: $learn-economics-accent,
    warn: $learn-economics-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($learn-economics-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter&display=swap');

:root {
  --primary: #F9F871;
  --secondary: #FDDE65;
  --black-100: #1A1917;
  --black-75: hsla(40, 6%, 10%, 0.75);
  --black-50: hsla(40, 6%, 10%, 0.50);
  --black-25: hsla(40, 6%, 10%, 0.25);
  --black-10: hsla(40, 6%, 10%, 0.10);
  --black-05: hsla(40, 6%, 10%, 0.05);
}

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: 'Inter', "Helvetica Neue", sans-serif;
  background-color: hsl(0, 0%, 98%); 
}

h1 { font-size: 88px; }
h2 { font-size: 66px; }
h3 { font-size: 50px; }
h4 { font-size: 37px; }
h5 { font-size: 28px; }
h6 { font-size: 21px; }

