$customPrimary: (
  50: '#e1f2f8',
  100: '#b3d8ed',
  200: '#81bddf',
  300: '#4fa2d1',
  400: '#2690c9',
  500: '#007ebe',
  600: '#0077b7',
  700: '#006cae',
  800: '#0062a4',
  900: '#004d8c',
  A100: '#b3d8ed',
  A200: '#81bddf',
  A400: '#2690c9',
  A700: '#006cae',
);

