<!--Chapter number and title of subject-->
<h4>Lesson X: Template</h4>

<!--Short intruduction of subject -->
<div style="display: flex; justify-content: center;">
    <p>Economics is the study of how individuals, businesses, and governments make decisions about the allocation of 
        scarce resources to satisfy their diverse needs and wants. It explores the production, distribution, and 
        consumption of goods and services, delving into how markets operate and how they can fail. Economists utilize 
        various models and theories to analyze and predict economic behaviors, aiming to optimize outcomes and devise 
        solutions to pressing challenges. At its core, economics seeks to understand and improve the wellbeing of societies 
        through efficient and equitable resource management.
    </p>
</div>

<div style="display: flex; justify-content: center;">
    <button class="next-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="var(--black-75)" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
        </svg>
    </button>
</div>

<div style="height: 1200px; background-color: aqua;">
</div>

<div style="height: 100px; background-color: brown;">
</div>
